<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

  <display-name>helloworld opencontrib jaxrs</display-name>

  <!-- ENVIRONMENT PARAMS -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>WEB-INF/applicationContext.xml</param-value>
  </context-param>
  
  <context-param>
    <param-name>CollectorUrl</param-name>
    <param-value>http://10.0.2.2:14268/api/traces</param-value>
  </context-param>
  
  <context-param>
    <param-name>ServiceName</param-name>
    <param-value>HelloWord</param-value>
  </context-param>
  
  <listener>
    <listener-class>be.wyfrel.helloworld.servletcontext.JaegerConstSamplerOpenTracingContextInitializer</listener-class>
  </listener>

  <listener>
    <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
  </listener>
  <listener>
    <listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
  </listener>
  
   <filter>
       <filter-name>SpanFinishingFilter</filter-name>
       <filter-class>io.opentracing.contrib.jaxrs2.server.SpanFinishingFilter</filter-class>
    </filter>
    <filter-mapping>
       <filter-name>SpanFinishingFilter</filter-name>
       <url-pattern>/*</url-pattern>
    </filter-mapping>
  
  
  
  <servlet>
    <servlet-name>Resteasy</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
    <init-param>
      <param-name>javax.ws.rs.Application</param-name>
      <param-value>be.wyfrel.helloworld.application.HelloWorldApplication</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>Resteasy</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>


  <!-- RESOURCE REFERENCES -->
</web-app>